<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NoradF AdminLTE template</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bower components styles -->
    {% for asset in assets.bower_css %}
    <link href="/plugins/{{asset.path}}" rel="stylesheet" type="text/css"/>
    {% endfor %}
    <!-- Theme styles -->
    {% for asset in assets.css %}
    <link href="/{{asset.path}}" rel="stylesheet" type="text/css"/>
    {% endfor %}
</head>
<body class="hold-transition skin-{{config.adminlte.skin}} sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    {% include 'includes/header.html' %}

    <!-- Left side column. contains the sidebar -->

    {% include 'includes/sidebar.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Blank page
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% include 'includes/footer.html' %}

    <!-- Control Sidebar -->

    {% include 'includes/control-sidebar.html' %}

</div>
<!-- ./wrapper -->

<!-- Bower components -->
{% for asset in assets.bower_js %}
<script src="/plugins/{{asset.path}}" type="text/javascript"></script>
{% endfor %}
<!-- AdminLTE App -->
{% for asset in assets.js %}
<script src="/{{asset.path}}" type="text/javascript"></script>
{% endfor %}
</body>
</html>
