<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/noradf-adminlte-template/static/img/noradf-logo-160x160.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Norad Framework</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            {% for item in menu.items %}
            {% if item.type == 'menu' %}
            <li class="treeview">
                <a href="#">
                    <i class="{{item.object.icon}}"></i>
                    <span>{{ item.object.text }}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    {% for subitem in item.items %}
                    <li>
                        <a href="{{subitem.object.href}}">
                            <i class="fa fa-circle-o"></i> {{ subitem.object.text }}
                            {% if subitem.items && subitem.items.length > 0 %}
                            <i class="fa fa-angle-left pull-right"></i>
                            {% endif %}
                        </a>
                        {% if subitem.items && subitem.items.length > 0 %}
                        <ul class="treeview-menu">
                            {% for subsubitem in subitem.items %}
                            <li>
                                <a href="{{subsubitem.object.href}}">
                                    <i class="fa fa-circle-o"></i> {{ subsubitem.object.text }}
                                    {% if subsubitem.items && subsubitem.items.length > 0 %}
                                    <i class="fa fa-angle-left pull-right"></i>
                                    {% endif %}
                                </a>
                                {% if subsubitem.items && subsubitem.items.length > 0 %}
                                <ul class="treeview-menu">
                                    {% for subsubsubitem in subsubitem.items %}
                                    <li>
                                        <a href="{{subsubsubitem.object.href}}">
                                            <i class="fa fa-circle-o"></i> {{ subsubsubitem.object.text }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li>
                <a href="{{item.object.href}}">
                    <i class="{{item.object.icon}}"></i> <span>{{ item.object.text }}</span>
                    {% if item.object.badge %}
                    <small class="label pull-right {{item.object.class}}">{{ item.object.badge }}</small>
                    {% endif %}
                </a>
            </li>
            {% endif %}
            {% endfor %}
            {% if labels %}
            <li class="header">LABELS</li>
            {% for label in labels %}
            <li><a href="{{label.href}}"><i class="fa fa-circle-o text-{{label.color}}"></i> <span>{{ label.text }}</span></a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>